
services:
  product-service:
    build: ./product_service/product-service
    ports:
      - "8081:8081"
    networks:
      - ecommerce-network

  order-service:
    build: ./order_service/order-service
    ports:
      - "8082:8082"
    depends_on:
      - product-service
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge
