name: CI/CD Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:

  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin

      - name: Build and run unit tests
        run: ./mvnw clean test


  # Job 2: Docker Build & Integration Test
  docker-build:
    runs-on: ubuntu-latest
    needs: build-test
    services:
      docker:
        image: docker:24-dind


    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker images
        run: |
          docker build -t product-service:latest ./product_service/product-service
          docker build -t order-service:latest ./order_service/order-service

      - name: Run docker-compose
        run: |
          docker-compose -f docker-compose.yml up -d
          sleep 15 

      - name: Test - Products
        run: |
          curl -f http://localhost:8081/api/products || exit 1

      - name: Test - Orders
        run: |
          curl -f http://localhost:8082/api/orders || exit 1

      - name: Stop services
        run: docker-compose down
